body {
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 13px;
}

.link {
    text-decoration: none;
}

.main-content {
    padding: 4vh;
}

.board-container {
    background-color: var(--bg-light-grey);
    border-radius: 5px;
    margin: 5vh 5vw;
    padding: 3vh 3vw;
}

.button {
    margin: 1vh;
}

