body {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

.link {
    text-decoration: none;
}

.main-content {
    padding: 4vh;
}

.button {
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 18px 5px 18px;
    transition: all 0.3s;
    margin-top: 25px;
    margin: 1vh;
    background-color: var(--bg-light-grey);
}

.button:hover {
    border: 1px solid grey;
}

.board-container {
    background-color: var(--bg-light-grey);
    border-radius: 10px;
    margin: 5vh 8vw;
    padding: 5vh 5vw;
}

.card-container {
    background-color: var(--theme-green);
    width: 100px;
    padding: 10px;
    border-radius: 5px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex-grow {
    flex-grow: 1;
}

.flex-ungrow {
    flex-grow: 0;
}


.flex-wrap {
    flex-wrap: wrap;
}