:root {
    --theme-green: #07B4B5;
    --theme-purple: #8F34EB;
    --theme-dark-green: #0F545C;
    --bg-light-grey: #F3F3F3;
    --bg-medium-grey: #E5E5E5;
    --bg-dark-grey:#C4C4C4;
    --text-dark-grey: #8C8C8C;

    
    --opac-white: rgba(255, 255, 255, 0.95);
    --opac-dark-grey: rgba(196, 196, 196, 0.5);
    --opac-light-grey: rgba(243,243,243, 0.95);
    --opac-green: rgba(7, 180, 181, 0.7);
    --opac-purple: rgba(143, 52, 235, 0.5);

}