.bean-board .board-container {
    max-width: 1024px;
    margin: auto;
    padding: 50px;
}

.bean-board .board-title {
    margin-bottom: 5vh;
}

.bean-board .board-section {
    margin-bottom: 3vh;
}

.bean-board .goal-prompt,
.bean-board .collect-prompt {
    margin: 3vh 2vw 3vh 2vw;
}

.bean-board .board-name {
    font-size: 28px;
    color: var(--theme-green);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.bean-board .bean-icon {
    margin-top: 1vh;
    height: 5vh;
}

.bean-board .prompt {
    font-size: 20px;
    color: var(--theme-dark-green);
}

.bean-board .sub-prompt {
    margin-left: 1vw;
    font-size: 15px;
    color: var(--text-dark-grey);
}


.bean-board .bean-button {
    margin: 1vh;
    color: white;
    background-color: #07B4B5;
}

.bean-board .flip-arrow {
    font-size: 38px;
}

