.bean-card {
    margin-right: 20px;
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.bean-card:hover {
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    transition: all 0.3s ease-in-out;
}


#well-bean {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 32vh;
    /* Location of the box */
    left: 0;
    top: 0;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#well-bean .popup-content {
    background-color: #07b4b5;
    background-image: linear-gradient(76deg, #07b4b5 0%, #8f34eb 100%);
    margin: auto;
    padding: 10px;
    border-radius: 10px; 
    width: 300px;
    height: 300px;
}
#well-bean .popup-content .content {
    margin-top: 8vh;
}
#well-bean img {
    width: 50px;
    margin-right: 5px;
}

#well-bean span {
    font-size: 28px;
}

#well-bean p {
    color: white;
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
}

#well-bean .close-button {
    font-size: 25px;
    margin-right: 5px;
    margin-top: 5px;
}

#well-bean .close-button:hover,
.close-button:focus {
    cursor: pointer;
    color: white;
}

#bean-action .action-button {
    font-size: 15px;
    color: var(--text-dark-grey);

}
#bean-action .action-button:hover {
    color: white;
    background-color: transparent;
    border-color: transparent;
}

#bean-warning>.content{
    background-color: red;
}
