.bean-card 


.well-bean-popup {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 35vh;
    /* Location of the box */
    left: 0;
    top: 0;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.well-bean-popup .popup-content {
    background-color: #07b4b5;
    background-image: linear-gradient(76deg, #07b4b5 0%, #8f34eb 100%);
    margin: auto;
    padding: 10px;
    border-radius: 5px; 
    width: 150px;
    height: 150px;
}
.popup-content .content {
    margin-top: 14px;
}
.well-bean-popup img {
    width: 36px;
    margin-right: 3px;
}

.well-bean-popup p {
    color: white;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.bean-popup .close-button {
    font-size: 30px;
}

.close-button:hover,
.close-button:focus {
    cursor: pointer;
    color: white;
}

