.category-card {
    background-color: var(--opac-light-grey);
    border-radius: 10px;
}

.category-card #create-category,
.category-card .category-title {
    margin: 9px;
    font-size: 21px;
}

.category-card #create-category {
    color: grey;
}

.category-card .category-title:hover,
#create-category:hover {
    color: var(--theme-green);
    transition: all 0.2s;
}

.category-card #create-task {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: grey;
    padding: 8px;
    transition: all 0.3s;
    width: 260px;
    border-radius: 3px;
}


#create-task:hover {
    background-color: var( --bg-medium-grey);
    color: var(--text-dark-grey);
}