.category-card {
    width: 280px;
    background-color: var(--opac-light-grey);
    border-radius: 10px;
}

.category-card #create-category,
.category-card .category-title {
    margin: 9px;
    font-size: 21px;
}

.category-card #create-category {
    color: grey;

}

.category-card #delete-category {
    font-size: 20px;
    margin-right: 8px;

}

.category-card #create-task {
    font-size: 15px;
    margin-left: 90px;
    margin-bottom: 10px;
    color: grey;
    padding: 5px;
}