#create-bean .input-box {
  background-color: var(--opac-dark-grey);
}

#create-bean .modal .prompt,
#create-bean .modal .sub-prompt {
  font-family: 'Rubik', sans-serif;
  color: var(--theme-purple);
}

#create-bean .modal .prompt {
  margin-right: 2vw;
  font-weight: 600;
  color: var(--theme-purple);
}

#create-bean .modal .sub-prompt {
  font-weight: 400;
  color: grey;
}

#create-bean .modal .button {
  border-radius: 10px;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--theme-purple);
  margin-right: 20px;
  margin-bottom: 20px;
}