
.modal {
    width: 50vw;
    font-size: 20px;
    background-color: var(--bg-dark-grey);
    border-radius: 15px;
  }

  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
  }
  
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    line-height: 20px;
    right: 20px;
    top: 20px;

  }

  .modal .popup-item {
      margin: 4vh;
  }

  .modal .input-box {
      background-color: darkcyan;
      border-radius: 10px;
      padding: 5px;
  }

  .modal .prompt {
      margin-right: 2vw;
      font-family: 'Rubik', sans-serif;
    font-weight: 600;
  }

  .letter{
      text-align: center;
      
      font-size: 35px;
  }
