
.modal {
    width: 50vw;
    font-size: 20px;
    background-color: var(--opac-light-grey);
    border-radius: 10px;
    border: 10px solid var(--opac-light-grey);
    box-shadow: 10px 10px 32px -2px rgba(0,0,0,0.3);
  }

  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
  }
  
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    line-height: 20px;
    right: 20px;
    top: 20px;

  }

  .modal .popup-item {
      margin: 4vh;
      background: transparent;
  }

  .modal .input-box {
      background-color: var(--opac-dark-grey);
      border-radius: 10px;
      padding: 5px;
  }

  .modal .prompt,
  .modal .sub-prompt {
    font-family: 'Rubik', sans-serif;
  }
  .modal .prompt {
      margin-right: 2vw;
    font-weight: 600;
    color: var(--theme-purple);
  }

  .modal .sub-prompt {
    font-weight: 400;
  }

  .modal .button {
    border-radius: 10px;
      padding: 10px 30px;
      border-radius: 30px;
      background-color: var(--theme-purple);
      margin-right: 20px;
      margin-bottom: 20px;
    
  }