.header {
    height: 60px;
    /* display: flex;
    flex-direction: column; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #07b4b5;
    background: radial-gradient(circle, rgb(203, 228, 228) 0%, rgb(203, 228, 228) 100%);;

}

.fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
}

.navbar {
    position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo {
    width: 200px;
}
.navbar .nav-link {
    font-size: 25px;
    /* font-family: 'Rubik', sans-serif;
    font-weight: 600; */
    color: white;
    text-decoration: none;
    padding-left: 30px;
   
}

.header .logo img{
   width: auto;
   height: 60px;
   margin-top:3px;
   margin-left: 3px;

}

.navbar .menu-icon {
    color: var(--theme-dark-green);
    display: flex;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 18px; 
    text-decoration: none;
}

.menu-icon:hover {
    color: var(--theme-green);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 23vw;
    height: calc(100vh -  60px);
    position: absolute;
    right: 0;
    top: -100vh;
  
    opacity: 1;
    transition: all 0.4s ease-in-out;
    z-index: -99;
    justify-content: space-around;
    align-items: left;
    
    
  }

  .nav-menu.active {
    background: #0F545C;
    top: 60px;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    
  }

  .nav-item {
    padding-top: 80px;
    padding-bottom: 50px;
      width: 100%;
      height: 100%;
    border-bottom: 1px solid rgba(7, 180, 181, 0.7);;
      padding-right: 30px;
      transition: .4s ease-in-out;
      }

      .nav-item i{
          margin-right: 16px;
      }

  .nav-item:hover {
  padding-left: 70px;
}

.nav-menu .button{

text-align: left;
font-size: 25px;
border: 1px solid #0F545C;
padding: 1.5rem;
width: 100%;
border-radius: 4px;
background-color: #0F545C;
text-decoration: none;
color: white;
font-size: 20px;
margin: 2rem auto;

}

.nav-menu .button:hover {
    padding-left: 70px;
  }