.header {
    height: 60px;
    /* display: flex;
    flex-direction: column; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #07b4b5;
    background: radial-gradient(circle, rgb(203, 228, 228) 0%, rgb(203, 228, 228) 100%);;

}

.fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
}

.navbar {
    position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo {
    width: 200px;
}
.navbar .nav-link {
    font-size: 23px;
    /* font-family: 'Rubik', sans-serif;
    font-weight: 600; */
    color: var(--theme-dark-green);
    text-decoration: none;
}

.header .logo img{
   width: auto;
   height: 60px;
   margin-top:3px;
   margin-left: 3px;

}

.navbar .menu-icon {
    color: var(--theme-dark-green);
    display: flex;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 18px; 
    text-decoration: none;
}

.menu-icon:hover {
    color: var(--theme-green);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: calc(100vh -  60px);
    position: absolute;
    right: 0;
    top: -100vh;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    z-index: -99;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    box-shadow: -6px 11px 21px -11px rgba(125, 125, 125, 0.75);

  }

  .nav-menu.active {
    background: var(--bg-light-grey);
    top: 60px;
    z-index: 999;
  }

  .nav-item {
      padding: 43px 0;
      width: calc(30vw / 1.1);
      height: 120px;
      text-align: center;
  }

  .nav-item:hover {
   background-color: var(--theme-green);
}
