.header {

    height: 55px;
    display: flex;
    flex-direction: column; 
    
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.header .logo,
.navbar .nav-link {
    font-family: 'Rubik', sans-serif;
}

.navbar .nav-link {
    font-weight: 600;
}



.logo img{
   width: auto;
   height: 38px;
   margin-top:10px;
   margin-left: 10px;

}

.navbar .menu-icon {
    color: var(--theme-dark-green);
    display: flex;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 18px; 
}

.nav-link:hover,
.logo:hover,
.menu-icon:hover {
    color: var(--theme-purple);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28vh;
    position: absolute;
    left: 0;
    top: -100%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    z-index: -99;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 2vh;
    font-size: 15px;
    box-shadow: 0 12px 16px -7px rgba(0, 0, 0, 0.2);
  }

  .nav-menu.active {
    background: wheat;
    top: 55px;
    z-index: 1;
  }

  .nav-item {
      margin-bottom: 15px;
  }
