.landing-page {
height: 100vh;
  background: radial-gradient(circle, rgb(85, 193, 205) 0%, rgb(203, 228, 228) 100%);
  background-size: cover;
}

.landing-page .quote {
  text-align: center;
  font-size: 35px;
  color: #0F545C;

}

.landing-page .buttons {
  margin-right: 40px;
}

/* .landing-page #login {
  background-color: var(--theme-green);
  color: var(--theme-dark-green);
}

.landing-page #signup {
  background-color: var(--theme-purple);
  color: #ffffff;
} */

.landing-page #get-started {
  background: linear-gradient(135deg, #8f34eb 0%, #07b4b5 100%);
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
}


/* #get-started:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}*/


.landing-page #hero {
  height: 60vh;
}

.landing-page .content {
  margin-bottom: 5vh;
}