

.content .header1-title{
    margin-left: 10px;
}
 
.content .prompt{
    margin-left: 10px;
}

#meeting-popup {
    width: 85vw;
}

#create-meeting {
    background-color: transparent;
    font-size: 20px;
}



#create-meeting:hover {
    color: white;
    border-color: transparent;
    background-color: var(--theme-purple);
}

#meeting_table {
    min-width: 80vw;
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 
    minmax(150px, 1.4fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
}
.meeting .button{
    font-size: 13px;
    margin-right: 30px;
    
}


 #meeting_table tr {
  display: contents;
}

#meeting_table th,
td {
  
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meeting {
    color: white;
    font-weight: bold;
    font-size: 15px;
}


#meeting_table .th {
    position: sticky;
    top: 0;
    background: #145f69;
    text-align: left;
    font-weight: normal;
    font-size: 1.3rem;
    color: white;
    position: relative;
  }
  
  #meeting_table .th:last-child {
    border: 0;
  }
  
   .resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: col-resize;
  }
  
   .resize-handle:hover,
  /* The following selector is needed so the handle is visible during resize even if the mouse isn't over the handle anymore */
  .header--being-resized .resize-handle {
    opacity: 0.5;
  }
  
  #meeting_table .th:hover .resize-handle {
    opacity: 0.3;
  }
  
  #meeting_table .td {
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
  }
  
  #meeting_table .tr:nth-child(even) td {
    background: #f8f6ff;
  }

  .zoom .button{
      color: rgb(77, 73, 73);
      font-weight: bold;
  }

  
