.member-card {
    padding: 9px;
    background-color: var(--theme-green);
    border-radius: 50%;
    text-align: center;
}

.member-card:hover {
    background-color: var(--theme-dark-green);
    transition: 0.3s;
}