.member-card {
    height: 40px;
    width: 40px;
    padding: 9px;
    background-color: var(--theme-green);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.member-card:hover {
    background-color: var(--theme-dark-green);

}

.member-card .action-menu {
    padding-top: 5px;   
}

.member-card .user-info {
    color: var(--theme-green);
}

.member-button{
    font-weight: bold;
}