.project-page .project-board {
    margin-left: 2vw;
    align-items: flex-start;

}

.project-page .category-cards {
    align-items: flex-start;
}
.project-page 
.category-card {
    margin-right: 10px;
}