.projects-board .board-container {
    max-width: 1024px;
    margin: auto;
    padding: 10vh;
    margin-top: 6vh;
}

.projects-board .prompt {
    font-size: 20px;
    color: var(--theme-dark-green);
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 5vh;
}
.projects-board #create-new-project,
.projects-board .project-card {
    height: 150px;
    width: 150px;
    text-align: center;
    padding: 7vh 1vw;
    border-radius: 10px;
    margin-right: 30px;
    
}

.projects-board #create-new-project {
    background-color: var(--bg-dark-grey);
    color: var(--theme-dark-green);
}

.projects-board .project-card {
    background-color: var(--theme-dark-green);
    color: white;
}

.project-cards {
    background: transparent;

}



