.project-page .project-board {
    margin-left: 30px;
    align-items: flex-start;

}
.project-page .project-menu,
.project-page .member-menu {
    margin-left: 35px;
}

.project-page .member-menu {
    margin-bottom: 15px;
}

.project-menu .project-title {
    font-size: 25px;
    margin-right: 10px;
}

.member-menu .member-title {
    font-size: 20px;
}

.project-page .category-cards {
    align-items: flex-start;
}

.project-page .category-card {
    margin-right: 10px;
}

.project-page .member-list {
    margin-left: 10px;
}
.project-page .member-card {
    margin-right: 10px;
}


