.projects-board .board-container {
    max-width: 1024px;
    margin: auto;
    margin-top: 6vh;
}

.projects-board .prompt {
    padding-top: 10vh;
    padding-left: 10vh;
    font-size: 20px;
    color: var(--theme-dark-green);
    /* font-weight: 600;
    font-family: 'Rubik', sans-serif; */
    margin-bottom: 5vh;
}
.projects-board #create-new-project,
.projects-board .project-card {
    height: 150px;
    width: 150px;
    text-align: center;
    padding: 7vh 1vw;
    border-radius: 10px;
    margin-right: 4vh;
    margin-bottom: 4vh;
    box-shadow: 1px 1px 5px 0px rgba(87,87,87,0.8);
    
}

.projects-board #create-new-project {
    background-color: var(--bg-medium-grey);
    opacity: 60%;
}

.projects-board .project-card {
    background: linear-gradient(135deg, #8f34eb 0%, #07b4b5 100%);
    opacity: 60%;
    color: white;

}

.projects-board #create-new-project:hover,
.projects-board .project-card:hover {
    opacity: 100%;
    transition: all 0.1s;

}

.project-cards {
    background: transparent;

}



