.project-header {
    height: 60px;
    background-color: #07b4b5;
    background: radial-gradient(circle, rgb(203, 228, 228) 0%, rgb(203, 228, 228) 100%);
}


.project-header .icon {
    height: 30px;
    width: 30px;
}
.project-header .project-nav {
    padding: 16px 0px 10px 33px; 
}
.project-header .project-nav-item {
    margin-right: 12px;
}

.project-header .font-icon {

    margin-bottom: 3px;
    text-align: center;
    font-size: 25px;
    color: rgb(75, 75, 75);
}