.user-page .main-content {
    display: flex;
    flex-direction: column;
}

.user-page .user-prompt{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: var(--theme-dark-green);
    margin-left: 6vw;
    margin-bottom: 8vh;
    margin-top: 5vh;
}