.user-page{
    background-color: #07b4b5;
    background: radial-gradient(circle, rgb(85, 193, 205) 0%, rgb(203, 228, 228) 100%);;
    height: 100%;
}

.user-page .main-content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

}

.user-page .user-menu {
    margin-bottom: 18px;
}

.user-page .user-board {
    box-shadow: 26px 32px 83px 6px rgba(155, 155, 155, 0.36);
}

.user-page .user-prompt{
    font-size: 32px;
    /* font-weight: 600;
    font-family: 'Rubik', sans-serif; */
    color: var(--theme-dark-green);
}

.user-page #user-name {
    color:  #0F545C;
    margin-left: 10px;
}

.user-page .user-menu .time-prompt {
    font-size: 24px;
    margin-left: 6vw;
    color:  #0F545C;
    margin-bottom: 12px;
}

.user-page .user-menu #current-time {
    margin-left: 10px;
    margin-bottom: 12px;
}

.user-page .user-menu .calendar-icon {
    margin-right: 10px;
    color: var(--theme-dark-green);
    margin-top: 12px;
}



.user-menu .board-container {
    max-width: 1024px;
    margin: auto;
    background-color: transparent;
    padding: 20px 0;

}
